{
	"semi": true,
	"singleQuote": true,
	"jsxSingleQuote": false,
	"useTabs": true,
	"trailingComma": "all",
	"bracketSpacing": true,
	"bracketSameLine": false,
	"jsxBracketSameLine": false,
	"arrowParens": "always",
	"rangeEnd": 140,
	"vueIndentScriptAndStyle": false,
	"endOfLine": "lf",
	"singleAttributePerLine": true
}
