.heroBaner {
	height: calc(100vh - 70px) !important;
	background-image: url(../../assets/files/images/herobaner.jpg);
	background-size: cover;
	background-position: center;
}

.pageBody {
	display: flex;
	padding-top: 60px;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	min-height: calc(100vh - 60px);
	background-color: var(--grey);
}
